# App Settings
JWT_SECRET=super-secret-key

# Mail Settings
MAIL_USERNAME=company@gmail.com
MAIL_PASSWORD=smtp_password

# Database Settings
DB_URL=jdbc:postgresql://localhost:5432/mydatabase
DB_USERNAME=root
DB_PASSWORD=root

# Domain Settings
BACKEND_DOMAIN = http://localhost:5173
