# App Settings
JWT_SECRET=super-secret-key

# Email Service URL
EMAIL_SERVICE_URL=http://localhost:3000

# Database Settings
DB_URL=jdbc:postgresql://localhost:5432/mydatabase
DB_USERNAME=root
DB_PASSWORD=root

# Domain Settings
FRONTEND_DOMAIN = http://localhost:5173
